#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createCompleted_ordersInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createCompleted_ordersInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO completed_orders $colStr VALUES $valStr", "SELECT * FROM completed_orders WHERE order_id=$ctx.args.createCompleted_ordersInput.order_id"]
}